{% extends 'base.html' %}
{% load static %}

{% block title %}Add Location{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<style>
    #map {
        height: 380px;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <!-- Left Column: Info -->
        <div class="col-md-6 mt-5">
            <div class="p-4 rounded bg-light border mt-5">
                <h3>Add a New Location</h3>
                <h5>How to Add a Location</h5>
                <ul class="mt-3">
                    <li>Enter a name for the location.</li>
                    <li>Click on the map to select a point.</li>
                    <li>The coordinates will be automatically filled.</li>
                    <li>Click <strong>Save Location</strong> to store it.</li>
                </ul>
                <p class="text-muted mt-3">Note: You can only add one point at a time.</p>
            </div>
        </div>

        <!-- Right Column: Form and Map -->
        <div class="col-md-6">
            <form method="POST" action="{% url 'add_location' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Location Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" required>
                </div>

                <div class="mb-3">
                    <label for="map" class="form-label">Click on the map to select location</label>
                    <div id="map"></div>
                </div>

                <input type="hidden" name="latitude" id="latitude">
                <input type="hidden" name="longitude" id="longitude">

                <div class="mb-3 d-flex justify-content-center w-100">
                    <button type="submit" class="btn btn-success align-content-center">Save Location</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="{% static 'mainapp/js/add_location.js' %}"></script>

<script>

</script>
{% endblock %}
